* {
    margin: 0;
    padding: 0;
}

:root {
    --blue: #34656d;
    --light: #ced4da;
}

body {
    background-color: var(--blue) !important;
    color: var(--white) !important;
}
a {
    color: var(--pink);
}
a:hover {
    color: var(--pink);
}
input {
    margin: 0 5px !important;
    padding: 0.2rem 0.75rem !important;
    border-radius: 0 !important;
}
input:focus {
    box-shadow: none !important;
    border: 2px solid var(--primary) !important;
}
button {
    border-radius: 0 !important;
    box-shadow: none !important;
}
select {
    margin: 0 5px !important;
    padding: 0.2rem 0.75rem !important;
    border: 2px solid var(--light) !important;
    border-radius: 0 !important;
}
#cgpa_form {
    max-width: 20rem;
    margin: auto;
    padding: 1rem;
    border: 1px solid var(--light);
    text-align: center !important;
    text-align: center;
}
.cgpa_input_group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}
#cgpa_form > label {
    margin-bottom: 0;
}
.cgpa_input_group > input {
    width: 3.65rem;
}
.invalid_message {
    font-size: 14px;
    text-align: right;
    color: var(--danger);
    margin: -0.5rem 1rem 0.25rem 0;
}
.probidhan_select_group {
    margin-bottom: 0.5rem;
}
.probidhan_select_group > select {
    outline: none;
}
.probidhan_select_group > select:focus {
    border: 2px solid var(--primary) !important;
}
